################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/back-end/.vs/back-end/v16
/back-end/ConsoleApp1/bin/Debug
/back-end/ConsoleApp1/obj/Debug
/back-end/obj/x86/Debug
/back-end/packages
