node_modules
back-end/.vs/back-end/DesignTimeBuild/.dtbcache
back-end/.vs/back-end/v16/.suo
back-end/.vs/back-end/v16/Server/sqlite3/db.lock
back-end/.vs/back-end/v16/Server/sqlite3/storage.ide
back-end/.vs/back-end/v16/Server/sqlite3/storage.ide-shm
back-end/.vs/back-end/v16/Server/sqlite3/storage.ide-wal
